#app-section{
    display: flex;
    height: 70vh;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
    background: linear-gradient(#828080, #ffffff);
}
#app-section #appic{
    height: 90%;
}
#app-section #app-desc{
    padding-left: 30px;
    color: whitesmoke;
}
#app-section #app-desc h3{
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
}
#app-section #app-desc h2{
    font-family: 'Archivo Black', sans-serif;
    font-size: 2.3rem;
    font-weight: 800;
    color: #1d412f;
}
#app-section #app-desc p{
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: whitesmoke;
    margin-bottom: 10px;
}
#app-section #app-desc img{
    width: 30%;
}