body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

footer {
  background-color: rgb(130, 128, 128);
  color: #fff;
  padding: 20px 0 10px 0 ;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 20vw;
  left: 20px;
}

.footer-nav {
  display: flex;
  gap: 20px;
}

.footer-nav a {
  color:whitesmoke;
  text-decoration: none;
}
.footer-nav a:hover {
  color: black;
}
.social-media a {
  margin: 0 10px 0 0;
  color: black;
  font-size: 1.3rem;
}
.social-media a :hover{
  color: white;
}
.footer-bottom {
  text-align: center;
  font-size: 12px;
  color: black;
}
